@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
  font-family: 'Inconsolata';
  src: url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');
} */

@font-face {
  font-family: 'Pretendard Variable';
  src: url('../styles/fonts/PretendardVariable.woff2') format('woff2');
}

@font-face {
  font-family: 'Pretendard';
  src: url('../styles/fonts/Pretendard-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard';
  src: url('../styles/fonts/Pretendard-SemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard';
  src: url('../styles/fonts/Pretendard-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard';
  src: url('../styles/fonts/Pretendard-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Pretendard, 'Pretendard Variable', -apple-system,
    BlinkMacSystemFont, 'Inconsolata', system-ui, Roboto, 'Helvetica Neue',
    'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic',
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
}

body {
  width: 100%;
  height: 100%;
}

.bold1 {
  @apply text-[32px] font-bold leading-[1.2] tracking-[-0.03em];
}
.bold2 {
  @apply text-[26px] font-bold leading-[1] tracking-[-0.03em];
}
.bold3 {
  @apply text-[24px] font-bold leading-[1.2] tracking-[-0.03em];
}
.bold4 {
  @apply text-[18px] font-bold leading-[1] tracking-[-0.03em];
}
.bold5 {
  @apply text-[24px] font-bold leading-[1] tracking-[-0.03em];
}
.semibold1 {
  @apply text-[30px] font-semibold leading-[1] tracking-[-0.03em];
}
.semibold2 {
  @apply text-[24px] font-semibold leading-[1.2] tracking-[-0.03em];
}
.semibold3 {
  @apply text-[22px] font-semibold leading-[1.2] tracking-[-0.03em];
}
.semibold4 {
  @apply text-[22px] font-semibold leading-[1] tracking-[-0.03em];
}
.semibold5 {
  @apply text-[20px] font-semibold leading-[1.2] tracking-[-0.03em];
}
.semibold6 {
  @apply text-[18px] font-semibold leading-[1.3] tracking-[-0.03em];
}
.semibold7 {
  @apply text-[16px] font-semibold leading-[1] tracking-[-0.03em];
}
.semibold8 {
  @apply text-[14px] font-semibold leading-[1] tracking-[-0.03em];
}
.semibold9 {
  @apply text-[12px] font-semibold leading-[1.4] tracking-[-0.03em];
}
.medium1 {
  @apply text-[22px] font-medium leading-[1] tracking-[-0.03em];
}
.medium2 {
  @apply text-[20px] font-medium leading-[1.2] tracking-[-0.03em];
}
.medium3 {
  @apply text-[18px] font-medium leading-[1.3] tracking-[-0.03em];
}
.medium4 {
  @apply text-[16px] font-medium leading-[1] tracking-[-0.03em];
}
.medium5 {
  @apply text-[14px] font-medium leading-[1.4] tracking-[-0.03em];
}
.medium6 {
  @apply text-[14px] font-medium leading-[1] tracking-[-0.03em];
}
.medium7 {
  @apply text-[12px] font-medium leading-[1.4] tracking-[-0.03em];
}
.regular1 {
  @apply text-[22px] font-normal leading-[1.2] tracking-[-0.03em];
}
.regular2 {
  @apply text-[20px] font-normal leading-[1.6] tracking-[-0.03em];
}
.regular3 {
  @apply text-[18px] font-normal leading-[1.5] tracking-[-0.03em];
}
.regular4 {
  @apply text-[16px] font-normal leading-[1.4] tracking-[-0.03em];
}
.regular5 {
  @apply text-[14px] font-normal leading-[1.4] tracking-[-0.03em];
}
.regular6 {
  @apply text-[12px] font-normal leading-[1.4] tracking-[-0.03em];
}
.regular7 {
  @apply text-[12px] font-normal leading-[1.6] tracking-[-0.03em];
}
.regular8 {
  @apply text-[10px] font-normal leading-[1.4] tracking-[-0.03em];
}
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* mdx - code block */
pre {
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 8px 0;
  overflow-x: scroll;
}

.codeBlock {
  font-family: 'Inconsolata' !important;
}

.codeBlock code[data-line-numbers] {
  counter-reset: line;
}

.codeBlock code[data-line-numbers] > span[data-line]::before {
  counter-increment: line;
  content: counter(line);

  display: inline-block;
  width: 0.75rem;
  margin-right: 1.25rem;
  text-align: right;
  color: gray;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  padding-top: 20px;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 16px;
  padding-top: 16px;
}

h5 {
  font-size: 12px;
  padding-top: 16px;
}

h6 {
  font-size: 10px;
  padding-top: 16px;
}

*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar:horizontal {
  height: 8px;
}

*::-webkit-scrollbar-thumb {
  height: 30%;
  border-radius: 10px;
  background: #c0c1c5;
  &:horizontal {
    width: 20%;
  }
}

*::-webkit-scrollbar-thumb:hover {
  background: #a0a5b1;
}

input {
  outline: none;
  box-shadow: none;
}
